tmp
log
config/database.yml
config/database.prod.yml
*~
db/*.sqlite3
db/schema.rb
db/*.sql
coverage
public/coverage
TAGS
nbproject/*
stash/*
vendor/emi/*
vendor/gems/*/bin/*.bundle
vendor/gems/*/ext/*/ext/*/Makefile
vendor/gems/*/ext/*/ext/*/*.bundle
vendor/gems/*/ext/*/ext/*/*.o
log/*
nohup.out
